:root{
    --text-color: rgb(230,230,230);
    --button-background: rgb(30,30,60);
    --borders-color: rgba(200,200,200,1);
    --center-color: rgba(10,10,30,0.9);
    --center-flat-color: rgba(10,10,30,1);
    font-family: Arial, Helvetica, sans-serif;
}

body{
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(to right, var(--borders-color), var(--center-color) 0%, var(--center-flat-color) 20% 80%, var(--center-color) 100%, var(--borders-color));
    /*radial-gradient(ellipse 700% 30000% , rgba(10,10,30,1), rgba(200, 200, 200,1));*/
    color: var(--text-color);
}

.navbar {
    position: fixed;
    top: 10px; 
    width: 100%; 
    z-index: 1000; 
    display: flex;
    justify-content: center; 
}

.navbar-container {
    display: flex;
    justify-content: center;
    background: #666;
    border-radius: 10px;
}

.navbar a{
    display: block;
    color: white;
    text-align: center;
    padding: 8px 10px;
    margin: 0px 10px;
    text-decoration: none;    
    cursor: pointer;
}

.navbar a svg{
    vertical-align: middle;
}

.languages-container{
    display: block;
    position: absolute;
    padding: 0px 3px;
}

.arrow-up{
    width: 20px;
    margin: 4px auto -10px 20px;
    color: #666;
}

.languages-texts{
    background: #666;
    border-radius: 20px;
    padding: 3px 5px;
}

.languages-texts a{
}

.main-container{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.main-container .greeting-container{
    margin-top: 30vh;
    margin-bottom: 24vh;
}

.main-container > section{
    margin-top: 14vh;
}

.greeting-container{
    width: 90%;
    margin: 0px auto 0px auto;
}

.greeting-title{    
    font-size: 60px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.greeting-desc{
    font-size: x-large;
}

.buttons-container{
    margin-top: 4vh;
    display: flex;
    width: 100%;
}

.button-fix{
    width: fit-content;
    display: block;
}

.button-container{
    width: fit-content;
    display: inline-block;
    margin: 12px 20px 0px 0px;
    border: 1px solid var(--borders-color);
    border-radius: 20px;
    background: var(--button-background);
    cursor: pointer;
}

.button-container > a{
    display: flex;
    color: var(--text-color);
    text-decoration: none;
    margin-left: 5px;
    padding: 10px 20px;
    vertical-align: middle;
}

.button-container a svg{
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 10px;
}

section{
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    display: block;
}

.title-container{
    height: fit-content;
    display: flex;
}

.title-container svg{
    height: 30px;
    width: 30px;
    margin: auto 10px auto 0px;    
}

.title{
    font-size: 36px;
}

.skills-container .skills{
    display: flex;
    width: 100%;
    padding: 10px;
}

.skills-container .skills .skills-fix{
    display: block;
    margin: 0px auto 0px auto;
    width: fit-content;
}

.skills-container .skills .skills-fix div{
    display: inline-block;
    width: fit-content;
    margin: 5px 12px;
}

.skills-container .skills .skills-fix div img{
    display: flex;
    width: 24px;
    height: 30px;
    margin: auto;
}

.skills-container .skills .skills-fix div p{
    font-size: large;
    font-weight: 600;
    margin-top: 10px;
}

.project-container{
    display: flex;
    margin: 20px 20px 40px 20px;
}

.project-image{
    width: 360px;
    height: 200px;
}

.project-text-container{
    margin-left: 20px;
}

.project-quick-desc{
    font-size: large;
}

.project-langs-container{
    display: flex;
    margin-bottom: 20px;
}

.project-langs-container img{
    width: 24px;
    height: 24px;
    margin-right: 14px;
    margin-left: 0px;
}

.project-button-container{
    height: 30%;
    padding: 10px;
    background: #999;
    border-radius: 10px;

}

.project-button{
    
    margin-bottom: 0px;
    margin-top: auto;
    margin-right: 0px;
    margin-left: auto;
    text-decoration: none;
    color: white;
    background: none;
    border: none;
    font-size: medium;
    font-weight: 700;
    cursor: pointer;
}

@media (max-width:1200px) {

    .project-container{
        display: block;
        width: 46vh;
        margin: 10px 0px 50px 0px;
        margin-left: auto;
        margin-right: auto;
    }
    
    .project-text-container{
        margin-left: 0px;
        width: 46vh;
    }
}

.about-me-texts > p{
    font-size: x-large;
}

.about-me-texts > p > span{
    color: rgb(255,255,90);
}

/* weather app description styles */

.back-button{
    fill: var(--text-color);
    position: fixed;
    left: 30px;
}

main{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding-bottom: 8vw;
}

.app-title{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.app-desc{
    font-size: x-large;
    margin-bottom: 60px;
}

.app-desc-container > p{
    margin-top: 50px;
    font-size: larger;
}

img{
    display: block;
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.bike-long-image{
    width: auto;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.lang-images-container{
    display: flex;
    width: 100%;
    height: 26vw;
}

.lang-images-container img{
    width: 50%;
    height: 100%;
}

.try-button{
    display: block;
    color: var(--text-color);
    text-decoration: none;
    font-size: x-large;
    margin: 30px 2px;
    font-weight: 400;
}

.try-button :hover{
    color: #000;
    text-decoration: double;
}